* {
  padding: 0;
  margin: 0;
}
/* nav-container */
.nav-container {
  width: 100%;
  height: 150px;
  /* background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc); */
  display: flex;
  color: white;
  position: fixed;
  z-index: 99;
}
.nav-logo {
  width: 40%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.nav-logo img {
  width: 100px;
  height: 100px;
  margin-left: 10%;
}
.nav-logo h3 {
  font-size: 50pt;
  font-weight: normal;
  margin-left: 50px;
}
.nav-ul {
  width: 60%;
  height: 100%;
}
.nav-ul ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ul li {
  width: 20%;
  height: 100%;
}
.nav-ul a {
  padding: 75px 30px 55px 30px;
  line-height: 150px;
  font-size: 22pt;
  text-decoration: none;
  color: white;
}
.nav-ul a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.main-first-container {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  background: linear-gradient(60deg, #03001e, #7303c0, #ec38bc);
  display: flex;
}
.main-first-text {
  width: 70%;
  margin-top: 250px;
  text-align: center;
  color: white;
}
.main-first-text h3 {
  font-size: 80pt;
  font-weight: normal;
}
.main-first-text p {
  margin: 15px auto;
  width: 60%;
  font-size: 20pt;
  line-height: 50px;
}
.download {
  width: 40%;
  height: 100px;
  border-radius: 50px;
  background: #2ecc71;
  margin: 45px auto;
}
.download a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #03001e;
  line-height: 100px;
  font-size: 30pt;
  font-weight: lighter;
}
.main-first-images {
  margin: 150px auto 100px 0;
  width: 500px;
  height: 1100px;
  overflow: hidden;
  position: relative;
}
.images-container {
  width: 1800px;
  height: 1000px;
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
  animation-name: move;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(-1200px);
  }
}
.images-container img {
  width: 500px;
  height: 1000px;
  margin: 0 100px 0 0;
}
.images-links {
  position: absolute;
  top: 1050px;
  left: 25px;
  width: 100%;
  height: 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.images-link3,
.images-link2,
.images-link1 {
  margin: 0 15px;
  width: 50px;
  height: 10px;
  background: #2ecc71;
  cursor: pointer;
}
.images-link1:hover,
.images-link2:hover,
.images-link3:hover {
  background: #24a058;
}
/* .main-second-contianer */
.main-second-contianer {
  width: 100%;
  height: 100%;
  padding: 150px 0;
  background: #03001e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-second-clock {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.clock-image {
  width: 200px;
  height: 200px;
  background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
  border-radius: 50%;
}
.clock-image img {
  width: 80px;
  height: 80px;
  padding: 60px;
}
.clock-title {
  margin: 25px 0;
}
.clock-title h3 {
  font-size: 30pt;
  color: #2ecc71;
  font-weight: lighter;
}
.clock-text p {
  font-size: 22pt;
  line-height: 50px;
  font-weight: lighter;
}
.main-second-star {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.star-image {
  width: 200px;
  height: 200px;
  background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
  border-radius: 50%;
}
.star-image img {
  width: 80px;
  height: 80px;
  padding: 60px;
}
.star-title {
  margin: 25px 0;
}
.star-title h3 {
  font-size: 30pt;
  color: #2ecc71;
  font-weight: lighter;
}
.star-text p {
  font-size: 22pt;
  line-height: 50px;
  font-weight: lighter;
}
.main-second-picture {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.picture-image {
  width: 200px;
  height: 200px;
  background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
  border-radius: 50%;
}
.picture-image img {
  width: 80px;
  height: 80px;
  padding: 60px;
}
.picture-title {
  margin: 25px 0;
}
.picture-title h3 {
  font-size: 30pt;
  color: #2ecc71;
  font-weight: lighter;
}
.picture-text p {
  font-size: 22pt;
  line-height: 50px;
  font-weight: lighter;
}
/* main-third-container */
.main-third-container {
  width: 100%;
  height: 100%;
  padding: 150px 0;

  background: linear-gradient(60deg, #03001e, #7303c0, #ec38bc);
}
.main-third-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.main-third-title h3 {
  font-size: 50pt;
  font-weight: lighter;
  color: white;
}
.main-third-title img {
  width: 300px;
  height: 80px;
}
.main-third-images {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
}
.move-image1 {
  display: flex;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  text-decoration: none;
}
.move-image2 {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  text-decoration: none;
}
.move-image3 {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  text-decoration: none;
}
.move-image-text1 {
  width: 450px;
  height: 240px;
  text-align: end;
  margin: 0 15px;
}
.move-image-text1 h3 {
  color: #24a058;
  font-size: 30pt;
  font-weight: lighter;
  margin-bottom: 25px;
}
.move-image-text1 p {
  color: white;
  font-size: 25pt;
  font-weight: lighter;
}
.move-image-img {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.move-image-img img {
  width: 50px;
  height: 50px;
  padding: 25px;
}
.move-image4 {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  text-decoration: none;
}
.move-image5 {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  text-decoration: none;
}
.move-image6 {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  text-decoration: none;
}
.move-image-text2 {
  width: 450px;
  height: 240px;
  text-align: start;
  margin: 0 15px;
}
.move-image-text2 h3 {
  color: #24a058;
  font-size: 30pt;
  font-weight: lighter;
  margin-bottom: 25px;
}
.move-image-text2 p {
  color: white;
  font-size: 25pt;
  font-weight: lighter;
}
.third-image2 {
  margin: 0 80px;
  width: 600px;
  height: 1200px;
}
.third-image2-images {
  position: relative;
  width: 100%;
  height: 100%;
}
.third-image2-images img {
  width: 600px;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
}
.third-image1 .move-image1:hover {
  border-radius: 30px;
  background: linear-gradient(60deg, #7303c0);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.third-image1 .move-image2:hover {
  border-radius: 30px;
  background: linear-gradient(60deg, #03001e, #7303c0);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.third-image1 .move-image3:hover {
  border-radius: 30px;
  background: linear-gradient(60deg, #03001e);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.third-image3 .move-image4:hover {
  border-radius: 30px;
  background: linear-gradient(60deg, #ec38bc);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.third-image3 .move-image5:hover {
  border-radius: 30px;
  background: linear-gradient(60deg, #7303c0, #ec38bc);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.third-image3 .move-image6:hover {
  border-radius: 30px;
  background: linear-gradient(60deg, #7303c0);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
